{% extends 'base.html' %}
{% block content %}

{% for msg in get_flashed_messages() %}
<p>{{ msg }}</p>
{% endfor %}

  <h1>{{ question.question }}</h1>

  <form action="/response/" method="POST">
      {% for choice in choices %}
      <p>
        <input
            type="radio"
            name="response"
            value="{{ choice }}">
        {{ choice }}
      </p>
      {% endfor %}

      {% if question.allow_text %}
        <label>Comments:</label>
        <input type="text" name="comment">
      {% endif %}

    <button>Continue</button>
  </form>

{% endblock %}
